body {
  background-image: url("../images/background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.canvas-closed {
  display: none;
}

#canvas-open {
  outline: 1px solid black;
}

.buttonStart-closed {
  display: none;
}

#buttonStart {
  width: 100px;
  height: 100px;
  background-image: url("../images/butoon.png");
  background-size: contain;
}
